body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    color: #000;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
  }
  
  #logo {
    width: 60px;
    height: auto;
  }
  
  #mainText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin: 0;
  }
  
  #closeButton {
    background: #000;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  
  #closeButton:hover {
    background: #333;
  }
  
  .content {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #aaa #f1f1f1;
  }
  
  .content::-webkit-scrollbar {
    width: 6px;
  }
  
  .content::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .content::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 4px;
  }
  
  .product {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .product-image {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border-radius: 4px;
    object-fit: cover;
  }
  
  .product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .product-name {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
  }
  
  .buttons-container {
    display: flex;
    gap: 10px;
  }
  
  .star-icon,
  .buy-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-inline: 5px;
    color: #000;
  }
  
  .social-sharing {
    display: flex;
    gap: 10px;
  }
  
  .social-icon {
    font-size: 16px;
    color: #000;
    background-color: transparent;
    padding: 8px;
    border-radius: 50%;
    text-decoration: none;
    transition: opacity 0.3s ease;
    border: 1px solid #000;
  }
  
  .social-icon:hover {
    opacity: 0.6;
  }

  .social-icon.facebook {
    padding-inline: 10px;
  }
  
  .header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
  }
  
  .header ul li {
    padding: 10px;
  }
  
  .header ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: large;
}

.header ul li a:hover {
    color: #666;
}

.product-link-button {
    height: 100%;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.product-link-button:hover {
    background-color: #45a049;
}

#productList {
    position: relative;
  }
  
  .loader {
    margin-top: 70%;
    width: 48px;
    height: 48px;
    border: 5px solid #5e5e5e;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 1s linear infinite;
  }
  
  .loader:after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    border: 5px solid #5e5e5e;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp 1s linear infinite;
  }
  
  @keyframes scaleUp {
    0% { transform: translate(-50%, -50%) scale(0); }
    60%, 100% { transform: translate(-50%, -50%) scale(1); }
  }
  
  @keyframes pulse {
    0%, 60%, 100% { transform: scale(1); }
    80% { transform: scale(1.2); }
  }

/* Estilo para el enlace activo */
.active-link {
  position: relative;
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: -4px;  /* Distancia desde el texto */
  left: 0;
  width: 100%;
  height: 2px;  /* Altura del subrayado */
  background-color: rgba(0, 0, 0, 0.3); /* Color del subrayado */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra difusa */
}

a {
  text-decoration: none; /* Quitar subrayado */
  color: inherit;       /* Heredar el color del texto del elemento padre */
  display: inline;      /* Mantener el comportamiento en línea */
}

.inditex-form-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inputs label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-inputs input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-inputs button {
  padding: 10px 20px;
  background-color: #999ea2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-inputs button:hover {
  background-color: #595e63;
}

